<div class="container bg-[#34495E] w-full mt-24 p-12 m-auto rounded-lg max-h-full shadow-lg shadow-gray-400">
  <h1 class="text-white text-2xl font-semibold mb-4">New Task for <%= @category.categories_name %></h1>

  <%= form_with(model: [@category, @task], url: create_task_path(@category), method: :post) do |form| %>
    <div class="mb-4">
      <%= form.label :task_name, class: "text-white" %>
      <%= form.text_field :task_name, class: "w-full p-2 rounded-md" %>
    </div>

    <div class="mb-4">
      <%= form.label :task_description, class: "text-white" %>
      <%= form.text_area :task_description, class: "w-full p-2 rounded-md" %>
    </div>

    <div class="mb-4">
      <%= form.label :task_date, class: "text-white" %>
      <%= form.date_field :task_date, class: "w-full p-2 rounded-md" %>
    </div>

    <div class="mb-4">
       <%= link_to 'Go Back', category_tasks_path, class: "bg-green-500 text-white px-4 py-2 rounded-md" %>
      <%= form.submit 'Create Task', class: "bg-blue-500 text-white px-4 py-2 rounded-md" %>
    </div>
  <% end %>
      <% if flash[:notice].present? %>
  <div class="display-notice text-green-500">
    <%= flash[:notice] %>
  </div>
<% end %>
  <div class="errors text-white">
    <% if flash[:error_creating].present? %>
      <% flash[:error_creating].each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
  </div>
</div>
