<div class="container bg-[#34495E] w-4/6 mt-24 p-12 m-auto rounded-lg max-h-full shadow-lg shadow-gray-400 grid grid-cols-1 md:grid-cols-2 gap-8">
  <div>
    <h1 class="text-white text-2xl font-semibold mb-4">New Category</h1>

    <%= form_with model: @category, url: categories_path do |form| %>
      <div class="mb-4">
        <%= form.label :categories_name, class: "text-white" %>
        <%= form.text_field :categories_name, class: "w-full p-2 rounded-md" %>
      </div>

      <div class="mb-4">
        <%= form.label :description, class: "text-white" %>
        <%= form.text_area :description, class: "w-full p-2 rounded-md" %>
      </div>

      <div class="btn flex">
     <div class="mb-4">
      <%= link_to 'Go to Dashboard', dashboard_path, class: "bg-green-500 text-white px-4 py-2 rounded-md" %>
       <%= form.submit 'Create Category', class: "bg-blue-500 text-white px-4 py-2 rounded-md" %>
    <% end %>
    <% if flash[:notice].present? %>
  <div class="display-notice text-green-500">
    <%= flash[:notice] %>
  </div>
<% end %>
    </div>
    
      </div>
  </div>

  <div>
    <% if @category.errors.any? %>
      <div id="error_explanation" class="text-white">
        <h2 class="text-xl font-semibold mb-4"><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
